TP-2/.vs/
TP-2/x64/
x64/
TP-2/TP-2/x64/Debug/
TP-2/TP-2/x64/Debug/TP-2.obj
TP-2/.vs/TP-2/FileContentIndex/6dcaad63-bab1-46c5-ab90-7152d459ccf7.vsidx
TP-2/.vs/TP-2/v17/Browse.VC.db-wal
TP-2/.vs/TP-2/v17/Browse.VC.opendb
TP-2/.vs/TP-2/v17/ipch/AutoPCH/b6ec35ab8320dbbb/TP-2.ipch
TP-2/.vs/TP-2/v17/ipch/AutoPCH/2fe29afa5e5bdffc/FORMATAGE.ipch
TP-2/.vs/TP-2/v17/Browse.VC.db-shm
TP-2/.vs/TP-2/v17/.suo
TP-2/.vs/TP-2/v17/Browse.VC.db
TP-2/.vs/TP-2/FileContentIndex/8f57fd3e-6375-4cd3-96e7-335f4f090275.vsidx
TP-2/.vs/TP-2/FileContentIndex/4a5ebc32-1d0e-4297-a643-6f4ee43e0afe.vsidx
TP-2/.vs/TP-2/FileContentIndex/cc77abde-b970-47c6-abe1-7f3618d1a883.vsidx
TP-2/.vs/TP-2/v17/ipch/AutoPCH/4decc397bedafdbb/TP-2.ipch
TP-2/TP-2/x64/Debug/formatage.obj

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app